.footer {
    padding-top: 72px;
    padding-bottom: 51px;
    background-color: $footer-bg;

    @include mediaTablet {
        padding-top: 36px;
        padding-bottom: 25px;
    }
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(290px, auto));
        gap: 40px 30px;
    }

    @media screen and (max-width:639px) {
        justify-content: center;
        text-align: center;
    }
}

.footer__logo {
    margin-top: -12px;
}

.footer__nav-list {
    font-size: 14px;
    letter-spacing: 0.05em;
    & > * + * {
        margin-top: 15px;
    }
}

.footer__info {
    & > *:last-child {
        margin-top: 20px;
    }
}
